# Rust files
*rustc-ice*

# nix artifacts
result
result/

# build files
build/
/bin/
.o
.d

# IDE files
*.launch
**/*.cproject
**/*.mxproject
**/Debug
**/.settings

# Odin Firmware
private_binary_blobs/

.DS_Store