[submodule "software-communication"]
	path = software-communication
	url = ../software-communication.git
[submodule "ateam-credentials/src/private_credentials"]
	path = ateam-credentials/src/private_credentials
	url = git@github.com:SSL-A-Team/ateam-private-credentials.git
